@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
    margin:0;
    padding:0;
}
header{
    display: flex;
    /*background-color: aqua;*/
    justify-content: center;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 10px 0;
    border-style: solid;
    border-color: yellow;
    border-radius: 15px;
    width: 100%;
    
}
.logo img{
    /*background-color: brown;*/
    height: 8vh;
}
.logo-written{
    display: flex;
    flex-direction: column;
}
.logo-written h1{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(19, 11, 122);
}
.navbar{
    display: flex;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    
}
.navlist{
    list-style-type: none;
    display:flex ;
    /*background-color: yellowgreen;*/
    width: 70%;
    overflow: auto;
    justify-content: center;
    align-items: center;
}

.navlist li{
    border-right: thin solid white;
    border-collapse: collapse;
    float: left;
}
.navlist li a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    float:left;
    
}
.navlist li:last-child{
    border-right: none;
}
.navlist li a:hover{
    background-color:white;
    color: black;
}
.navbar-right{
    display: flex;
    align-items: center;
    justify-content: right;
    float: right;
    width: 30%;
    text-align:right;
    /*background-color: blue;*/
}
#search{
    border: 3px solid black;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
}
.btn {
    border: solid skyblue;
    border-radius: 25px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}
.search{
    width: 25px;
}
.bg{
    background: rgba(226, 31, 57, 1);
    background-size: cover;
    background-blend-mode: lighten;
}
.dropdown-content{
    display: none;
    position: absolute;
    top: 40px;
    background-color: gray;
    min-width: 150px;
}
.dropdown-content a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.dropdown:hover .dropdown-content{
    display: flex;
    flex-direction: column;
}
.dropdown a:hover .dropdown-content{
    display: flex;
    flex-direction: column;
}

.front{
    background: rgba(255,0,0, 0.7) url(../pictures/aotfront.jpg);
    background-size: cover;
    width: 100%;
    background-attachment: fixed;
}
.welcome{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 90px;
    text-align: center;
    padding: 190px 0;
    flex-direction: column;
}
.welcome a{
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    color: white;
    background-color: red;
    padding: 5px 10px;
}
