@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
    margin:0;
    padding:0;
    list-style: none;
}
header{
    display: flex;
    /*background-color: aqua;*/
    justify-content: center;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 10px 0;
    border-style: solid;
    border-color: yellow;
    border-radius: 15px;
    width: 100%;
    
}
.logo img{
    /*background-color: brown;*/
    height: 8vh;
}
.logo-written{
    display: flex;
    flex-direction: column;
}
.logo-written h1{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(19, 11, 122);
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e32525;
    overflow: hidden;
}
.navbar .nav-list{
    display: flex;
    text-align: center;
}
.navbar .nav-list li{
    font-size: 1rem;
    text-transform: uppercase;
    padding: 0.4rem 0.7rem;
    color: #d8d3d3;
}
.navbar .nav-list li:hover{
    cursor: pointer;
    background: #2c2c2c;
    color: #e32525;
    
    .sub-nav-list{
        display: block;
        position: absolute;
        background: #e32525;
        top: 6.4rem;
    }
}
.sub-nav-list{
    display: none;
}
.sub-nav-list li a{
    color: #d8d3d3;
    text-decoration: none;
}
.sub-nav-list li a:hover{
        color: #e32525;
}
.nav-right input{
    width: 10rem;
    border: none;
    height: 1.2rem;
}
.nav-right i{
    font-size: 1.2rem;
    margin: 0 0.7rem;
}
#home{
    height: 100vh;
    width: 100%;
    background: url(../pictures/aotfront.jpg) #2c2c2c;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    display: flex;
    align-items: center;
    justify-content: center;
}
#home .container{
    text-align: center;
}
#home .container h1{
    font-size: 5rem;
    color: #d8d3d3;
    text-transform: uppercase;
    padding: 1rem 0;
}
#home .container .home-btn{
    padding: 1rem;
    border-radius: 2rem;
    background: #e32525;
    border:2px solid #e32525;
    transition: all 0.3s ease-in-out;
}
#home .container .home-btn:hover{
    box-shadow: 0 0 0.5rem #e32525;
    cursor: pointer;
}
#home .container .home-btn a{
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #d8d3d3;
}